#axes path.axis {
    stroke: #000000;
    stroke-width: 0.2px;
    fill:none;
}
#axes text {
    font-family: sans-serif;
    font-size: 3px;
    fill: #000000;
}
#axes text.x_axis {
    text-anchor: middle;
}
#axes text.y_axis {
    text-anchor: end;
}
#the_area {
    fill: #3399ff;
}